/*! style değerleri */

.layout-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content-wrapper {
    /* max-width: 1366px; */
    height: 100%;
}

.general-header,
.list-header-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 20px
}

.general-header {
    margin-bottom: 0;
}

.list-header-wrap {
    border: 0;
    justify-content: space-between;
}

.general-header span,
.list-header-wrap span {
    font-size: 22px;
    letter-spacing: 1px;
    padding: 10px 0;
}

.list-header-wrap span {
    font-size: 16px;
    border-bottom: 1px solid #272727;
}

.social-list {
    height: calc(100vh - 47px);
    background: #f7f7f7;
}

.content-list-wrapper {
    height: calc(100vh - 47px);
}

.social-list li {
    font-size: 15px;
    background: #f7f7f7;
    border-bottom: 1px solid #272727;
    line-height: 40px;
    cursor: pointer;
    padding-left: 10px;
}

.social-list li i {
    margin-right: 5px;
    font-size: 15px;
}

.general-content {
    display: flex;
    align-items: flex-start;
}

.list-content-wrapper {
    padding: 0 20px;
    height: calc(100vh - 47px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-12.list-item-content {
    max-height: calc(100vh - 143px);
    overflow: auto;
}

.list-content-wrap * {
    font-size: 15px;
    line-height: 35px;
    text-indent: 15px;
}

.col-12.list-item-content>div:nth-child(even) {
    background: #f7f7f7;
}

.col-12.list-item-content>div:nth-child(odd) {
    background: #d8d8d8;
}

.list-content-wrap>.col-12:first-child {
    border: 1px solid #000;
    box-sizing: border-box;
}


/*! base */

ul,
li {
    margin: 0;
    padding: 0;
}

#search-item {
    width: 25%;
    height: 30px;
    text-indent: 10px;
    font-size: 12px;
    letter-spacing: 0.3px;
    color: #000;
    border-radius: 4px;
    border: 0;
    background: #d8d8d8;
}

#search-item::placeholder {
    color: inherit;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background: #E6E6E6;
    border-radius: 5px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 3px;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.d-flex {
    display: flex;
}

.j-content-center {
    justify-content: center;
}

.a-item-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}


/*! col değerleri */

ul,
li {
    list-style-type: none;
}

body {
    margin: 0;
}

.col-12 {
    width: 100%;
}

.col-11 {
    width: 91.66666667%;
}

.col-10 {
    width: 83.33333333%;
}

.col-9 {
    width: 75%;
}

.col-8 {
    width: 66.66666667%;
}

.col-7 {
    width: 58.33333333%;
}

.col-6 {
    width: 50%;
}

.col-5 {
    width: 41.66666667%;
}

.col-4 {
    width: 33.33333333%;
}

.col-3 {
    width: 25%;
}

.col-2 {
    width: 16.66666667%;
}

.col-1 {
    width: 8.33333333%;
}